// variables
$dark-gray: #333;
$light-gray: #4f4f4f;
$bg-color: #fff;

$title-font: Incosolata, Georgia, sans-serif;
$sans-font: 'Space Mono', sans-serif;

body {
  box-sizing: border-box;
  font-family: $sans-font;
  background-color: $bg-color;
}

* {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}