@use '../variables' as v;

.footer {
  margin: 7rem auto 2rem;
  text-align: center;
  font-size: .875rem;
}

.footer-text {
  margin-bottom: 1rem;
}

.footer-link {
  color: v.$dark-gray;
  text-decoration: underline;
}

.footer-link:hover {
  text-decoration: none;
}