@use '../variables' as v;

.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 100px 120px 0 77px;
}

.main-img {
  max-width: 540px;
  width: 40%;
  height: auto;
}

.main-text-wrapper {
  max-width: 600px;
  width: 40%;
}

.main-heading {
  margin-bottom: 36px;
  font-size: 4rem;
}

.main-info {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  color: v.$light-gray;
}

.main-link {
  display: block;
  width: fit-content;
  padding: 1.5rem 43px;
  color: #fff;
  background-color: v.$dark-gray;
  font-size: .875rem;
}

@media screen and (max-width: 1200px) {
  .main-heading {
    font-size: 3.5rem;
  }

  .main-info {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    margin-left: 50px;
    margin-right: 50px;
  }

  .main-text-wrapper {
    width: 50%;
  }
}

@media screen and (max-width: 48rem) {
  .main {
    flex-direction: column;
    max-width: 30rem;
    margin: 4rem auto 6rem;
  }

  .main-img {
    width: 100%;
    margin-bottom: 60px;
  }

  .main-text-wrapper {
    width: auto;
  }
}

@media screen and (max-width: 32.5rem) {
  .main-img {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-text-wrapper {
    margin-left: 1.5rem;
    margin-right: 2px;
  }

  .main-info {
    font-size: 1.125rem;
  }
}