@use '../variables' as v;

.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 100px 120px 0 77px;
}

.main img {
  max-width: 540px;
  width: 40%;
  height: auto;
}

.main-text-wrapper {
  max-width: 600px;
  width: 40%;
}

.main-heading {
  margin-bottom: 36px;
  font-size: 4rem;
}

.main-info {
  margin-bottom: 4rem;
  font-size: 1.5rem;
}

.main-link {
  display: block;
  width: fit-content;
  padding: 1.5rem 43px;
  color: #fff;
  background-color: v.$dark-gray;
}