@use '../variables' as v;

.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 6.25rem 7.5rem 4.8125rem;
}

.main-img {
  max-width: 33.75rem;
  width: 40%;
  height: auto;
}

.main-text-wrapper {
  max-width: 37.5rem;
  width: 40%;
}

.main-heading {
  margin-bottom: 2.25rem;
  font-size: 4rem;
}

.main-info {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  color: v.$light-gray;
}

.main-link {
  display: block;
  width: fit-content;
  padding: 1.5rem 2.7rem;
  color: #fff;
  background-color: v.$dark-gray;
  font-size: .875rem;
}

@media screen and (max-width: 75rem) {
  .main-heading {
    font-size: 3.5rem;
  }

  .main-info {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 64rem) {
  .main {
    margin-left: 3.125rem;
    margin-right: 3.125rem;
  }

  .main-text-wrapper {
    width: 50%;
  }
}

@media screen and (max-width: 48rem) {
  .main {
    flex-direction: column;
    max-width: 30rem;
    margin: 4rem auto 6rem;
  }

  .main-img {
    width: 100%;
    margin-bottom: 3.75rem;
  }

  .main-text-wrapper {
    width: auto;
  }
}

@media screen and (max-width: 32.5rem) {
  .main-img {
    max-width: 17.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .main-text-wrapper {
    margin-left: 1.5rem;
    margin-right: 2px;
  }

  .main-info {
    font-size: 1.125rem;
  }
}